@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  color: #333333;
  font-family:
    Lato,
    "游ゴシック Medium",
    "游ゴシック体",
    "Yu Gothic Medium",
    YuGothic,
    "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN",
    "メイリオ",
    Meiryo,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
}

header {
  color: white;
  background-color: #333333;
}

footer {
  color: gray;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}

pre.code {
  background-color: #282c34;
}

.demo {
  margin-bottom: 2.4rem !important;
}

.hint:before {
  content: "💁 "
}
