@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	color: #333333;
  font-family:
    Lato,
    "游ゴシック Medium",
    "游ゴシック体",
    "Yu Gothic Medium",
    YuGothic,
    "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN",
    "メイリオ",
    Meiryo,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
  background-color: #333333;
}

header {
  color: white;
}

main {
  background-color: white;
}

footer {
  color: white;
  text-align: center;
}

pre.code {
  background-color: #282c34;
}
